* {
  padding: 0px;
  margin: 0px;
}

html {
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

footer {
  width: 100vw;
  height: 10vh;
  background-color: #003f88;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
  padding: 5px;
}

header{
  display: flex;
}

#header {
  width: 100vw;
  height: 15vh;
  background-color: #003f88;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.flex-turismos {
  display: flex;
  align-self: center;    
}

#nav-bar {
  display: flex;
  margin-left:200px;
}

.container {
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: row; 
}

/* HOME */
.container-home {
  height: 85vh;
  justify-content: space-around;
  align-items: center;
}

#img-home {
  animation: imagemHome 5s;
}

@keyframes imagemHome {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.titulo-home {
  color: #03254b;
  font-size: 60px;
  font-weight: bold;
}

#p-home {
    margin: 10px;
    margin: 10px;
    color: #003f88;
    white-space: nowrap;
    overflow: hidden;
    border-right: 5px solid black;
    animation: digitando 2s steps(13) infinite alternate,
      barrinha 800ms steps(13) infinite normal;
}

@keyframes digitando {
  from {
      width: 0%;
  }
  to {
      width: 100%;
  }
}

@keyframes barrinha {
  from {
      border-color: black;
  }
  to {
      border-color: transparent;
  }
}

#div-home {
  align-self: center;
  font-size: 17px;
}


/* QUEM SOMOS */
.container-quemsomos {
  justify-content: center;
  align-items: center; 
}

.img-quem-somos{
  width: 450px;
}

#texto-quem-somos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
  height: 50vh;
}

.p_quem_somos {
  color: #003f88;
}

/* SERVIÇOS */
.container-servicos {
  background-color: #003f88;
  flex-direction: column;
  justify-content: center;
}

.icones-services {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.t-servicos {
  color: white;
  align-self: flex-start;
  width: 15vw;
  height: 10vh;
  margin-left: 300px;
}

.hospedagens, .pacotes, .roteiros {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  height: 25vh;
}

.img-predio {
  width: 100px;
}

.img-aviao {
  width: 100px;
  height: 100px;
}

.img-mapa{
    width: 100px;
    height: 100px;
}

.p-servicos {
  color: white;
  margin-top: 20px;
}

.btn-servicos {
  width: 100px;
  height: 30px;
  background-color: white;
  color: #003f88;
  border-radius: 20px;
  border: none;
  margin-top: 20px;  
}

.figure-img {
  width: 100px;
  height: 100px;
}

/* PLANOS */
.container-planos {
  flex-direction: column;
  height: 90vh;
  align-items: center;
}

.t-planos {
  align-self: flex-start;
  margin-left: 180px;
  margin-top: 50px;
}

#div-planos {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.planos {
  border: solid 5px #003f88;
  text-align: justify;
  padding: 2vw;
  display: flex; 
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

hr {
  color: #003f88;
  height: 5px;
}

#plano-1 {
  width: 15vw;
  height: 20vh;
}

#plano-2 {
  width: 15vw;
  height: 25vh;
}

#plano-3 {
  width: 15vw;
  height: 30vh;
}

.btn-planos, .btn-home {
  width: 240px;
  height: 40px;
  background-color: #003f88;
  color: white;
  border-radius: 20px;
  border: none;
}