* {
  padding: 0px;
  margin: 0px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

footer {
  width: 100vw;
  height: 10vh;
  background-color: #003f88;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  padding: 5px;
}

header{
  display: flex;
}

#header {
  width: 100vw;
  height: 15vh;
  background-color: #003f88;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.flex-turismos {
  display: flex;
  align-self: center;    
}

#nav-bar {
  display: flex;
  margin-left:200px;
}

.container {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

/* HOME */
.container-home {
  background-color: green;
  height: 85vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.titulo-home {
  color: #03254b;
  font-size: 60px;
  font-weight: bold;
}

#p-home {
    margin: 10px;
    margin: 10px;
    color: #003f88;
}

#div-home {
  align-self: center;
  font-size: 17px;
}

#img-home {
    align-self: flex-end;
}



/* QUEM SOMOS */
.container-quemsomos {
  background-color: blueviolet;
  color: white;
  display: flex;
  flex-direction: row;
}

.descricao_quem_somos {
  align-self: center;
  text-align: left;
}

.p_quem_somos {
  margin: 20px;
}

#texto-quem-somos{
  width: 50vw;
  height: 50vh;
}

.img-quem-somos{
  width: 400px;
  height: 200px;
}



/* SERVIÇOS */
.container-servicos {
  display: flex;
  background-color: #003f88;
  justify-content: space-evenly;  
}

.t-servicos {
  color: white;
}

.img-predio {
  width: 100px;
  height: 100px;
}

.img-aviao {
  width: 100px;
  height: 100px;
}

.img-mapa{
    width: 100px;
    height: 100px;
}

.p-servicos {
  color: white;
  margin-top: 20px;
}

.btn-servicos {
  width: 100px;
  height: 30px;
  background-color: white;
  color: #003f88;
  border-radius: 20px;
  border: none;
  margin-top: 20px;  
}

.figure-img {
  width: 100px;
  height: 100px;
}



/* PLANOS */
.container-planos {
  background-color: yellow;
  height: 90vh;
  justify-content: center;
}

#div-planos {
  display: flex;
  justify-content: flex-end;
}

.planos {
  border: solid 5px #003f88;
  text-align: center;
  padding: 2vw;  
}

#plano-1 {
  width: 15vw;
  height: 20vh;
}

#plano-2 {
  width: 15vw;
  height: 30vh;
}

#plano-3 {
  width: 15vw;
  height: 50vh;
}

.btn-planos, .btn-home {
  width: 240px;
  height: 40px;
  background-color: #003f88;
  color: white;
  border-radius: 20px;
  border: none;
}